body{
  text-align: center;
}

#title{
  margin-top: 100px;
  
}

#container{
  margin-bottom: 20px;
  margin-top: 40px;
} 

#game, #hyoudai{
  display: none;
}
#hyoudai{
  margin-top: 100px;
}